@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #ededed;
  --light: #ECF6FE,
  --lightHover: #E2F1FE,
  --lightActive: #C3E2FC,
  --normal: #3FA2F6,
  --normalHover: #3992DD,
  --normalActive: #3282C5,
  --dark: #2F7AB9,
  --darkHover: #266194,
  --darkActive: #1C496F,
  --darker: #163956,
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --light: #ECF6FE,
    --light-hover: #E2F1FE,
    --lightActive: #C3E2FC,
    --normal: #3FA2F6,
    --normal-hover: #3992DD,
    --normal-active: #3282C5,
    --dark: #2F7AB9,
    --dark-hover: #266194,
    --dark-active: #1C496F,
    --darker: #163956,
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base{
  html{
    background-color: var(--background);
    font-family: JustSans, sans-serif;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px #3FA2F6;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #3FA2F6;
  }
}

h1{
  font-size: 32px;
  font-weight: 700;
}

h2{
  font-size: 12px;
  font-weight: 200;
}

h3{
  font-size: 21px;
  font-weight: 600;
}

#input-message{
  background: #1b1b1b;
  border: 1px solid #2F7AB9;
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: #3282C5;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #C3E2FC;
  inherits: false;
}

.my-button{
  background: linear-gradient(-60deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s ease-in-out, --myColor2 0.3s ease-in-out;
}

.my-button:hover {  
  --myColor1: transparent;
  --myColor2: transparent;
}
