@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base{
  html{
    background-color: var(--background);
    font-family: JustSans, sans-serif;
  }
}

h1{
  font-size: 32px;
  font-weight: 700;
}

h2{
  font-size: 12px;
  font-weight: 200;
}

h3{
  font-size: 21px;
  font-weight: 600;
}

#input-message{
  background: #1b1b1b;
  border: 1px solid #2F7AB9;
}